﻿<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Realt</title>
    <link rel="stylesheet" href="content/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="content/css/creative.css" type="text/css">
    <link href="content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="content/css/bootstrap-social.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <link href="content/css/bootstrap-material-design.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="content/css/ripples.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        .new-badge {
            position: absolute;
            right: 8px;
            top: -5px;
            padding: 2px 3px;
            border-radius: 2px;
            background: #fe6363;
            color: #fff;
            font-size: 10px;
            font-weight: 500;
        }
        .post-content {
        top:0;
        left:0;
            width: 100%;
        position: absolute;
}

.thumbnail{
    position:relative;

}
    </style>
</head>
<body ng-controller="layoutController">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">The realty agency</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/house">Houses</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/flat">Flats</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#"><i class="material-icons">account_circle</i> {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/card">
                        <div class="new-badge">{{$storage.card.length}}</div><i class="material-icons">shopping_cart</i></a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()"><i class="material-icons">exit_to_app</i></a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <!--<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">
                        Created by Valentin Rafalsky
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    <!-- 3rd party libraries -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ngStorage.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/jquery-2.2.2.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/material.min.js"></script>
<script src="scripts/angular-slider.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="scripts/jquery.easing.min.js"></script>
    <script src="scripts/jquery.fittext.js"></script>
    <script src="scripts/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="scripts/creative.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/flatService.js"></script>
    <script src="app/services/houseService.js"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/layoutController.js"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/houseController.js"></script>
    <script src="app/controllers/flatController.js"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
</body>
</html>
