﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realt admin page </title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Scripts/lib/font-awesome-css/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/css/angular-snap.css" />
    <link rel="stylesheet" href="~/Scripts/lib/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="~/Scripts/lib/angular-material/angular-material.layouts.min.css" />
    <link rel="stylesheet" href="~/Scripts/lib/font-awesome-css/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="~/Content/css/ripples.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" />
    <style>
        .loading-spiner {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 9999999999999;
        }
    </style>

</head>
<body ng-app="yapp" style="overflow: auto !important; overflow-y: scroll;">
    <div class="bs-component" ng-cloak="">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)">
                        Realt admin page
                        <div class="ripple-container"></div>
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Flat")">Flats</a></li>
                        <li><a href="@Url.Action("Index", "House")">Houses</a></li>
                        <li><a href="@Url.Action("Index", "Features")">Features</a></li>
                        <li><a href="@Url.Action("Index","RealtType")">Realt types</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group is-empty">
                            <input type="text" class="form-control col-md-8" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <a>
                                    <i class="material-icons">account_circle</i>
                                    @User.Identity.Name
                                </a>
                            }
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

        }
        <div class="loading-spiner" data-loading>
            <div>
                <img class="img-responsive" style="height: 10%; width: 10%" src="~/Content/images/loadingGif.gif" />
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/material.min.js"></script>
    <script src="~/Scripts/lib/angular/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="~/Scripts/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/Scripts/lib/angular-animate/angular-animate.js"></script>
    <script src="~/Scripts/lib/angular-snapjs/src/scripts/snap.js"></script>
    <script src="~/Scripts/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="~/Scripts/lib/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/Scripts/js/app.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
