﻿<div class="well bs-component">
    <div ng-controller="flatController" ng-init="init('@Url.Action("GetFlats", "Flat")')" ng-cloak="">
        <div class="alert alert-dismissible alert-danger" id="roomExistError" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="text-center">Error!</h4>
            <p class="text-center">
                This room is exist in this Flat
            </p>
        </div>
        <div class="alert alert-dismissible alert-danger" id="FlatExistError" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="text-center">Error!</h4>
            <p class="text-center">
                Flat with this name is already exist
            </p>
        </div>
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Flats</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="text-center">
                    <a data-toggle="modal" data-target="#myModal" class="btn btn-raised btn-warning " ng-click="getRealtTypes('@Url.Action("GetRealtTypes", "RealtType")','@Url.Action("GetUsers", "Account")')">
                        Add new Flat
                        <div class="ripple-container"></div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Search..." ng-model="query">
                    </div>
                </div>
                <div class="row" style="overflow-x: auto;">
                    <table class="table"  ng-cloak="">
                        <thead>
                            <tr>
                                <th>Count Rooms</th>
                                <th>Total Square</th>
                                <th>Adress</th>
                                <th>Description</th>
                                <th>Realt Type</th>
                                <th>Price</th>
                                <th>User</th>
                                <th>Features</th>
                                <th>Show images</th>
                                <th>Upload image</th>
                                <th>Add feature</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody  ng-cloak="">
                            <tr ng-repeat="flat in flats | filter: {Description: query}">
                                <td>{{flat.CountRooms}}</td>
                                <td>{{flat.TotalSquare}}</td>
                                <td>{{flat.Adress}}</td>
                                <td>{{flat.Description}}</td>
                                <td>{{flat.RealtType.Name}}</td>
                                <td>{{flat.Price}}c</td>
                                <td>{{flat.User.UserName}}</td>
                                <td>
                                    <p ng-repeat="feature in flat.FeaturesDtos">
                                        {{feature.Name}}<a href="javascript:void(0)" ng-click="deleteFlatFeature('@Url.Action("DeleteFlatFeatures","Features")',flat,feature)"><i class="material-icons">clear</i></a>
                                    </p>
                                </td>
                                <td><a class="btn btn-raised btn-sm btn-success" ng-click="seeFlatImage(flat)">See images</a></td>
                                <td><a data-toggle="modal" data-target="#uploadModal" class="btn btn-raised btn-sm btn-info" ng-click="setFlat(flat)"><i class="material-icons">insert_photo</i></a></td>
                                <td><a class="btn btn-raised btn-sm btn-primary" ng-click="addFeatureSetFlat('@Url.Action("GetFlatFeatures","Features")',flat)"><i class="material-icons">add_circle</i></a></td>
                                <td><a href="javascript:void(0)" ng-click="deleteFlat('@Url.Action("DeleteFlat")',flat)"><i class="material-icons">delete_sweep</i></a></td>
                                <td><a href="javascript:void(0)" ng-click="editFlat('@Url.Action("GetRealtTypes", "RealtType")','@Url.Action("GetUsers", "Account")',flat)"><i class="material-icons">border_color</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create Flat</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-repeat="feature in features">
                            <div class="col-md-offset-2 col-md-4"> 
                                <h3>{{feature.Name}}</h3>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" ng-click="addFeature('@Url.Action("AddFeature")',feature)" class="btn btn-danger btn-fab"><i class="material-icons">add</i><div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Flat</h4>
                    </div>
                    <form ng-submit="addFlat('@Url.Action("AddFlat", "Flat")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Count rooms</label>
                                <input class="form-control" placeholder="Count rooms" ng-model="newFlat.CountRooms" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Total square</label>
                                <input class="form-control" placeholder="Total square" ng-model="newFlat.TotalSquare" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adress</label>
                                <input class="form-control" placeholder="Adress" ng-model="newFlat.Adress" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" placeholder="Description" ng-model="newFlat.Description" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" placeholder="Price" ng-model="newFlat.Price" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Realt type</label>
                                <select class="form-control" ng-model="newFlat.RealtType" ng-options="realtType as realtType.Name for realtType in realtTypes" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Owner</label>
                                <select class="form-control" ng-model="newFlat.User" ng-options="user as user.UserName for user in users" required></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit Flat</h4>    
                    </div>
                    <form ng-submit="changeFlat('@Url.Action("EditFlat", "Flat")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Count rooms</label>
                                <input class="form-control" placeholder="Count rooms" ng-model="currentFlat.CountRooms" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Total square</label>
                                <input class="form-control" placeholder="Total square" ng-model="currentFlat.TotalSquare" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adress</label>
                                <input class="form-control" placeholder="Adress" ng-model="currentFlat.Adress" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" placeholder="Description" ng-model="currentFlat.Description" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" placeholder="Price" ng-model="currentFlat.Price" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Realt type</label>
                                <select class="form-control" ng-model="currentFlat.RealtType" ng-options="realtType as realtType.Name for realtType in realtTypes" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Owner</label>
                                <select class="form-control" ng-model="currentFlat.User" ng-options="user as user.UserName for user in users" required></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Upload Image</h4>
                    </div>
                    @using (Html.BeginForm("UploadImage", "Flat", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="modal-body">
                            <input type="text" name="id" ng-hide="true" ng-model="currentFlat.Id" />
                            <input type="file" name="file">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" id="imagesModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Flat images</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-repeat="image in currentFlat.ImageDtos" style="margin-bottom: 10px;">
                            <div class="panel panel-default">
                                <div class="panel-heading text-right">
                                    <a href="javascript:void(0)" ng-click="removeImage('@Url.Action("DeleteImage")',image.Url)"><i class="material-icons">highlight_off</i></a>
                                </div>
                                <div class="panel-body">
                                    <img ng-src="{{image.Url}}" class="img-responsive " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/js/services/flatService.js"></script>
    <script type="text/javascript" src="~/Scripts/js/controllers/flatController.js"></script>
}
