﻿<div class="well bs-component">
    <div ng-controller="realtController" ng-init="init('@Url.Action("GetRealtTypes", "RealtType")')" ng-cloak="">
        <div class="alert alert-dismissible alert-danger" id="realtExist" style="display: none;">   
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="text-center">Error!</h4>
            <p class="text-center">
                This realt type is exist
            </p>
        </div>
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Realt types</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="text-center">
                    <a data-toggle="modal" data-target="#myModal" class="btn btn-raised btn-warning ">
                        Add new realt type
                        <div class="ripple-container"></div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Search..." ng-model="query">
                    </div>
                </div>
                <div class="row" style="overflow-x: auto;">
                    <table class="table" ng-cloak="">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody ng-cloak="">
                            <tr ng-repeat="realt in realts | filter: {Name: query}">
                                <td>{{realt.Id}}</td>
                                <td>{{realt.Name}}</td>
                                <td><a href="javascript:void(0)" ng-click="deleteRealt('@Url.Action("DeleteFeature")',realt)"><i class="material-icons">delete_sweep</i></a></td>
                                <td><a href="javascript:void(0)" ng-click="editRealt(realt)"><i class="material-icons">border_color</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add feature</h4>
                    </div>
                    <form ng-submit="addRealt('@Url.Action("AddFeature", "RealtType")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Feature name</label>
                                <input class="form-control" placeholder="Feature" ng-model="newRealt.Name" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit Flat</h4>
                    </div>
                    <form ng-submit="saveEditRealt('@Url.Action("EditRealt", "RealtType")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Feature name</label>
                                <input class="form-control" placeholder="Feature" ng-model="currentRealt.Name" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/js/services/realtService.js"></script>
    <script type="text/javascript" src="~/Scripts/js/controllers/realtController.js"></script>
}
