﻿<div class="well bs-component">
    <div class="row"  style="padding-top: 50px;">
        <h3 class="text-center">You card</h3>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12 col-lg-12 col-xs-12 col-md-12" ng-repeat="obj in $storage.card " style="padding-top: 10px;">
            <div class="col-md-3 col-lg-3">
                <img ng-src="{{obj.imageDtos[0].url}}" class="img-responsive " style="max-height: 60%; max-width: 60%;"/>
            </div>
            <div class="col-md-3 col-lg-3">
                <p>{{obj.user.userName}}</p>
                <p>{{obj.user.phoneNumber}}</p>
            </div>
            <div class="col-md-2 col-lg-2">
               <a href="javascript:void(0)"><i class="material-icons">local_mall</i></a>{{obj.realtType.name}}
            </div>
            <div class="col-md-2 col-lg-2">
                {{obj.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
            </div>
            <div class="col-md-1 col-lg-1">
                <a href="javascript:void(0)" style="color: red;" ng-click="$storage.card.splice($storage.card.indexOf(obj), 1);"><i class="material-icons">delete_sweep</i></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">House details</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="image in currentHouse.imageDtos">
                    <img ng-src="{{image.url}}" class="img-responsive " />
                </div>

                <div class="form-group">
                    <h3>
                        <strong>Rooms:</strong>{{currentHouse.countRooms}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        <strong>Total square:</strong>{{currentHouse.totalSquare}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        <strong>Adress:</strong>{{currentHouse.adress}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        <strong>Description:</strong>{{currentHouse.description}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        <strong>Owner:</strong>{{currentHouse.user.userName}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        {{currentHouse.user.phoneNumber}}
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        {{currentHouse.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
                    </h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
