﻿<div class="well bs-component">
    <div class="row" style="padding-top: 50px;">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Find houses</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Rooms</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(1)">1</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(2)">2</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(3)">3</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(4)">4</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(5)">5</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount('')">ALL</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Adress</h4>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Search..." ng-model="query">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">

        <div class="col-md-4 col-lg-4 col-xs-12 col-md-12" ng-repeat="flat in flats  | filter: {adress: query, countRooms: search.RoomCount}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{flat.adress}}</h3>
                </div>
                <div class="panel-body">
                    <img ng-src="{{flat.imageDtos[0].url}}" class="img-responsive " />
                    <h4 class="text-center">
                        {{flat.realtType.name}}
                    </h4>
                    <h3 class="text-center">
                        {{flat.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
                    </h3>
                    <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised" ng-click="flatDetails(flat)">
                        See detais
                        <div class="ripple-container"></div>
                    </a>
                    <div class="text-center">
                        <a ng-click="$storage.card.push(flat)" href="javascript:void(0)" class="btn btn-raised btn-danger "><i class="material-icons">add_shopping_cart</i><div class="ripple-container"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Flat details</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="image in currentFlat.imageDtos">
                        <img ng-src="{{image.url}}" class="img-responsive " />
                    </div>

                    <div class="form-group">
                        <h3>
                            <strong>Rooms:</strong>{{currentFlat.countRooms}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Total square:</strong>{{currentFlat.totalSquare}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Adress:</strong>{{currentFlat.adress}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Description:</strong>{{currentFlat.description}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Owner:</strong>{{currentFlat.user.userName}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            {{currentFlat.user.phoneNumber}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            {{currentFlat.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
                        </h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
