﻿<div class="well bs-component">
    <div class="row" style="padding-top: 50px;">
        <!--<div class="row">
            <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-raised btn-info" data-toggle="modal" data-target="#myModal">Add you own an advertisement</a>
            </div>
        </div>-->
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Find houses</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        <h4>Rooms</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(1)">1</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(2)">2</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(3)">3</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(4)">4</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount(5)">5</a>
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="setRoomCount('')">ALL</a>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-2">
                        <h4>Realt type</h4>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="search.realtType" ng-options="realtType as realtType.name for realtType in realtTypes" required></select>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-2">
                        <h4>Adress</h4>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Search..." ng-model="query">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">

        <div class="col-md-4 col-lg-4 col-xs-12 col-md-12" ng-repeat="house in houses  | filter: {adress: query, countRooms: search.RoomCount}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{house.adress}}</h3>
                </div>
                <div class="panel-body">
                    <img ng-src="{{house.imageDtos[0].url}}" class="img-responsive "/>
                    <h4 class="text-center">
                        {{house.realtType.name}}
                    </h4>
                    <h3 class="text-center">
                        {{house.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
                    </h3>
                    <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised" ng-click="houseDetails(house)">
                        See detais
                        <div class="ripple-container"></div>
                    </a>
                    <div class="text-center">
                        <a ng-click="$storage.card.push(house)" href="javascript:void(0)" class="btn btn-raised btn-danger "><i class="material-icons">add_shopping_cart</i>
                            <div class="ripple-container"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Add an advertisement</h4>
                </div>
                <form ng-submit="addHouse()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Count rooms</label>
                            <input class="form-control" placeholder="Count rooms" ng-model="newHouse.CountRooms" pattern="^[0-9]+$" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Total square</label>
                            <input class="form-control" placeholder="Total square" ng-model="newHouse.TotalSquare" pattern="^[0-9]+$" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Adress</label>
                            <input class="form-control" placeholder="Adress" ng-model="newHouse.Adress" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <input class="form-control" placeholder="Description" ng-model="newHouse.Description" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <input class="form-control" placeholder="Price" ng-model="newHouse.Price" pattern="^[0-9]+$" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Realt type</label>
                            <select class="form-control" ng-model="newHouse.RealtType" ng-options="realtType as realtType.name for realtType in realtTypes" required></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">House details</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="image in currentHouse.imageDtos">
                        <img ng-src="{{image.url}}" class="img-responsive " />
                    </div>

                    <div class="form-group">
                        <h3>
                            <strong>Rooms:</strong>{{currentHouse.countRooms}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Total square:</strong>{{currentHouse.totalSquare}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Adress:</strong>{{currentHouse.adress}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Description:</strong>{{currentHouse.description}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            <strong>Owner:</strong>{{currentHouse.user.userName}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            {{currentHouse.user.phoneNumber}}
                        </h3>
                    </div>
                    <div class="form-group">
                        <h3>
                            {{currentHouse.price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a>
                        </h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
