﻿<div class="well bs-component">
    <form role="form">
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <h2 class="form-login-heading">Login</h2>
                <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
               
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="form-login-heading">Social Logins</h2>
                <p>Or you can login using one of the social logins bleow</p>
                <button class="btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
                <button class="btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
                <!--<button class="btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Vkontakte')"><i class="fa fa-google-plus"></i> | Connect with VK</button>-->
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </form>
</div>