﻿<div class="well bs-component">
    <div ng-controller="houseController" ng-init="init('@Url.Action("Gethouses", "house")')" ng-cloak="">
        <div class="alert alert-dismissible alert-danger" id="roomExistError" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="text-center">Error!</h4>
            <p class="text-center">
                This room is exist in this house
            </p>
        </div>
        <div class="alert alert-dismissible alert-danger" id="houseExistError" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="text-center">Error!</h4>
            <p class="text-center">
                house with this name is already exist
            </p>
        </div>
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Houses</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="text-center">
                    <a data-toggle="modal" data-target="#myModal" class="btn btn-raised btn-warning " ng-click="getRealtTypes('@Url.Action("GetRealtTypes", "RealtType")','@Url.Action("GetUsers", "Account")')">
                        Add new house
                        <div class="ripple-container"></div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Search..." ng-model="query">
                    </div>
                </div>
                <div class="row" style="overflow-x: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Count Rooms</th>
                                <th>Total Square</th>
                                <th>Adress</th>
                                <th>Description</th>
                                <th>Realt Type</th>
                                <th>Price</th>
                                <th>User</th>
                                <th>Features</th>
                                <th>Show images</th>
                                <th>Upload image</th>
                                <th>Add feature</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="house in houses | filter: {Description: query}">
                                <td>{{house.CountRooms}}</td>
                                <td>{{house.TotalSquare}}</td>
                                <td>{{house.Adress}}</td>
                                <td>{{house.Description}}</td>
                                <td>{{house.RealtType.Name}}</td>
                                <td>{{house.Price}}<a href="javascript:void(0)"><i class="material-icons">monetization_on</i></a></td>
                                <td>{{house.User.UserName}}</td>
                                <td>
                                    <p ng-repeat="feature in house.FeaturesDtos">
                                        {{feature.Name}}<a href="javascript:void(0)" ng-click="deleteHouseFeature('@Url.Action("DeleteHouseFeatures","Features")',house,feature)"><i class="material-icons">clear</i></a>
                                    </p>
                                </td>
                                <td><a class="btn btn-raised btn-sm btn-success" ng-click="seeHouseImage(house)">See images</a></td>
                                <td><a data-toggle="modal" data-target="#uploadModal" class="btn btn-raised btn-sm btn-info" ng-click="setHouse(house)"><i class="material-icons">insert_photo</i></a></td>
                                <td><a class="btn btn-raised btn-sm btn-primary" ng-click="addFeatureSetHouse('@Url.Action("GetHouseFeatures","Features")',house)"><i class="material-icons">add_circle</i></a></td>
                                <td><a href="javascript:void(0)" ng-click="deleteHouse('@Url.Action("Deletehouse")',house)"><i class="material-icons">delete_sweep</i></a></td>
                                <td><a href="javascript:void(0)" ng-click="editHouse('@Url.Action("GetRealtTypes", "RealtType")','@Url.Action("GetUsers", "Account")',house)"><i class="material-icons">border_color</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create house</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-repeat="feature in features">
                            <div class="col-md-offset-2 col-md-4">
                                <h3>{{feature.Name}}</h3>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" ng-click="addFeature('@Url.Action("AddFeature")',feature)" class="btn btn-danger btn-fab"><i class="material-icons">add</i><div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create house</h4>
                    </div>
                    <form ng-submit="addHouse('@Url.Action("Addhouse", "house")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Count rooms</label>
                                <input class="form-control" placeholder="Count rooms" ng-model="newHouse.CountRooms" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Total square</label>
                                <input class="form-control" placeholder="Total square" ng-model="newHouse.TotalSquare" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adress</label>
                                <input class="form-control" placeholder="Adress" ng-model="newHouse.Adress" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" placeholder="Description" ng-model="newHouse.Description" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" placeholder="Price" ng-model="newHouse.Price" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Realt type</label>
                                <select class="form-control" ng-model="newHouse.RealtType" ng-options="realtType as realtType.Name for realtType in realtTypes" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Owner</label>
                                <select class="form-control" ng-model="newHouse.User" ng-options="user as user.UserName for user in users" required></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editModalLabel">Edit house</h4>
                    </div>
                    <form ng-submit="changeHouse('@Url.Action("Edithouse", "house")')">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Count rooms</label>
                                <input class="form-control" placeholder="Count rooms" ng-model="currentHouse.CountRooms" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Total square</label>
                                <input class="form-control" placeholder="Total square" ng-model="currentHouse.TotalSquare" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Adress</label>
                                <input class="form-control" placeholder="Adress" ng-model="currentHouse.Adress" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input class="form-control" placeholder="Description" ng-model="currentHouse.Description" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" placeholder="Price" ng-model="currentHouse.Price" pattern="^[0-9]+$" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Realt type</label>
                                <select class="form-control" ng-model="currentHouse.RealtType" ng-options="realtType as realtType.Name for realtType in realtTypes" required></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Owner</label>
                                <select class="form-control" ng-model="currentHouse.User" ng-options="user as user.UserName for user in users" required></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Upload Image</h4>
                    </div>
                    @using (Html.BeginForm("UploadImage", "house", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="modal-body">
                            <input type="text" name="id" ng-hide="true" ng-model="currentHouse.Id" />
                            <input type="file" name="file">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" id="imagesModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">house images</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-repeat="image in currentHouse.ImageDtos" style="margin-bottom: 10px;">
                            <div class="panel panel-default">
                                <div class="panel-heading text-right">
                                    <a href="javascript:void(0)" ng-click="removeImage('@Url.Action("DeleteImage")',image.Url)"><i class="material-icons">highlight_off</i></a>
                                </div>
                                <div class="panel-body">
                                    <img ng-src="{{image.Url}}" class="img-responsive " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/js/services/houseService.js"></script>
    <script type="text/javascript" src="~/Scripts/js/controllers/houseController.js"></script>
}
